@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('/assets/fonts/atkinson.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'AtkinsonHyperlegible', sans-serif;
}
