@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('/assets/fonts/atkinson.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$global-font-family: 'AtkinsonHyperlegible', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
